<!DOCTYPE html>
<html lang="en">
<head>
  <title>Juan Cantero Jarilla</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="js/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></button>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand logo col-sm-16" href="#">
          <span class="logo" style="color:#1abc9c"></span>
          JUAN CANTERO
        </a>
        <br>
        <a class="navbar-brand sublogo" href="#">
          <span class="sublogo" style="color:#1abc9c"></span>
          Desarrollador Software y Web
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('about') }}"><i class="glyphicon glyphicon-briefcase"></i></a></li>
          <li><a href="#Formacion"><i class="glyphicon glyphicon-education"></i></a></li>
          <li><a href="#Habilidades"><i class="glyphicon glyphicon-fire"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid text-center">
    <div class="row">
      {% block content%}
      {% endblock %}
    </div>
  </div>
</body>
</html>
